{% extends "agent/master.html" %}
{% block title %} Mopay Agent Center {% endblock %}

{% block body %}
	{% include "message.html" %}
	<div class="mo-page-header">
    	Change Password
    </div>
    <div>
    	<form class="form" action="/agent/change_password/process" method="post">
        	<input type="hidden" name="form_name" value="change_password" />
        	<table>
            	<tr>
                	<td>New Password:</td>
                    <td><input type="password" name="password" /> </td>
                </tr>
                <tr>
                	<td>Confirm Password:</td>
                    <td><input type="password" name="confirm_password" /> </td>
                </tr>
                <tr>
                	<td></td>
                    <td><div style="height: 10px;"></div></td>
                </tr>
                <tr>
                	<td></td>
                    <td><input type="submit" value="Change Password" class="uiButton" /> </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}