<div class='header'>
    <div class="top-nav">
        <div class="mo-left">
            <div id='loading'>
                <div class="mo-small loading-content">loading...</div>
            </div>
        </div>
        <div class="mo-right main-nav">
            <ul>
               {% comment %} <li><a href='#'>« Main Site</a></li> {% endcomment %}
                <li><a href="/agent/logout">Logout</a></li>
            </ul>
        </div>
        <div class="mo-clear"></div>
    </div>
    <div class='content'>
        <img alt='mopay-logo' src='/static/images/logo-smallest.jpg' />
    </div>
</div>
<div class='mo-top-bar'>
    <div class='content'>
        <div class='mo-left'>Logged in as: <b> {{ agent.first_name }} {{ agent.last_name }}</b></div>
        <div class='mo-right'></div>
        <div class='mo-clear'></div>
    </div>
</div>