	{% load mopay_filters %}
	<div class='mo-left-nav'>
    	<ul>
        	<li {{ "register_user"|is_selected:page_name }}>
            	<a href='/agent/register/user'>Register User</a>
            </li>
            <li {{ "cashout_ticket"|is_selected:page_name }}>
            	<a href='/agent/cashout/ticket'>Cashout Ticket</a>
            </li>
			<li {{ "cashout_history"|is_selected:page_name }}>
            	<a href='/agent/cashout/history'>Cashout History</a>
            </li>
            <!--
            <li {{ "cashout_active_requests"|is_selected:page_name }}>
            	<a href='/agent/cashout/active/requests'>Active Cashout Requests</a>
            </li>
            -->
        </ul>
    </div>