.nw-left-nav{
    border-right: solid 3px #E5ECF9;
    min-height: 300px;
	width: 170px;
}

.nw-left-nav .selected{
    background-color: #E5ECF9;
    font-weight: bold;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.nw-left-nav ul{
    padding: 5px;
    padding-right: 0px;
	padding-left: 0px;
    margin: 5px;
    margin-right: 0px;
	margin-left: 0px;
}

.nw-left-nav ul li{
    display: block;
    margin-left: 0px;
    padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.nw-admin-leftnav{
}

.nw-admin-maincontent{
    width: 800px;
    margin-top: 10px;
}

.nw-admin-table{
    border: solid 1px #C5D7EF;
    border-collapse: collapse;
    width: 100%;
}

.nw-admin-table thead tr th{
    padding: 3px;
    margin: 0px;
    border: 0px;
    text-align: left;
    background-color: #C5D7EF;
}

.nw-admin-table tbody tr td{
    padding: 3px;
}

.nw-admin-table .tb-even td{
    background-color: #eee;
    border-bottom: solid 1px #C5D7EF;
    border-top: solid 1px #C5D7EF;
}

.nw-admin-table .tb-odd td{
}

.nw-admin-section-header{
    padding: 5px;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom: solid 1px #eee;
}

h2{
    font-size: 1.3em;
}
