<div class='footer'>
    <div class='content'>
        <div class='mo-left'>
			{% comment %}
            <a href="/">home</a> |
            <a href="/store/dashboard">store</a> |
            <a href='#'>about</a> |
            <a href='#'>blog</a> |
            <a href='#'>help</a> |
            <a href='#'>terms</a>
			{% endcomment %}
        </div>
        <div class='mo-right'>
            © 2011 Ukueku Omote <a href='http://twitter.com/Miz_Omo' target='_blank'>@Miz_Omo</a>
			 | Akinsiku Damilola <a href='http://twitter.com/0x3r4' target='_blank'>@0x3r4</a>
			 | <a href="mailto:ckayome@yahoo.com">Prof C.K Ayo</a>
        </div>
        <div class='mo-clear'></div>
    </div>
</div>
