<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Mopay SMS</title>
</head>
<body style='font: normal normal normal 11px/20px Tahoma,'Lucida Grande', Arial, sans-serif;'>
	{% for x in messages %}
	
		<b>Receiver</b>: {{ x.receiver }} <br />
		<b>Message Body</b>: {{ x.body }} 
	
		{% if forloop.last %}{% else %}
			<hr />
		{% endif %}
		
	{% endfor %}
	{% if error_msg %}
		{{ error_msg }}
	{% endif %}
</body>
</html>