	{% load mopay_filters %}
	<div class='nw-left-nav'>
    	<ul>
        	<li {{ "cards"|is_selected:page_name }}>
            	<a href='/cards'>Cards</a>
            </li>
            <li {{ "agents"|is_selected:page_name }}>
            	<a href='/agents'>Agents</a>
            </li>
            <li {{ "transaction_log"|is_selected:page_name }}>
            	<a href='/log/transactions'>Transaction Log</a>
            </li>
            <li {{ "incoming_message_log"|is_selected:page_name }}>
            	<a href='/log/incoming/message'>Incoming Message Log</a>
            </li>
            <li {{ "outgoing_message_log"|is_selected:page_name }}>
            	<a href='/log/outgoing/message'>Outgoing Message Log</a>
            </li>
        </ul>
    </div>