	{% load mopay_filters %}
	<div class='nw-left-nav'>
    	<ul>
        	<li {{ "dashboard"|is_selected:page_name }}>
            	<a href='#'>Cards</a>
            </li>
            <li {{ "dashboard"|is_selected:page_name }}>
            	<a href='#'>Agents</a>
            </li>
            <li {{ "dashboard"|is_selected:page_name }} class='selected'>
            	<a href='#'>Transaction Log</a>
            </li>
            <li {{ "dashboard"|is_selected:page_name }}>
            	<a href='#'>Incoming Message Log</a>
            </li>
            <li {{ "dashboard"|is_selected:page_name }}>
            	<a href='#'>Outgoing Message Log</a>
            </li>
        </ul>
    </div>